/Book1.xlsx
/decision analysis preprocessing.py
/nominal categorical data.csv
/nominal categorical data.xlsx
/numerical data.csv
/ordinal categorical data.csv
/ordinal categorical data.xlsx
/Restaurant Dataset Manual Encoding.xlsx
/Restaurant Dataset original.csv
/Restaurant Dataset original.xlsx
/Restaurant Dataset Preprocessed.csv
/Restaurant Dataset.xlsx